/tutorials

examples/1. cavity/*
!examples/1. cavity/0
!examples/1. cavity/0
!examples/1. cavity/system
!examples/1. cavity/constant
!examples/1. cavity/solution
!examples/1. cavity/info.txt

examples/2. elbow/*
!examples/2. elbow/0
!examples/2. elbow/0
!examples/2. elbow/system
!examples/2. elbow/constant
!examples/2. elbow/solution
!examples/2. elbow/info.txt

examples/3. airFoil2D/*
!examples/3. airFoil2D/0
!examples/3. airFoil2D/0
!examples/3. airFoil2D/system
!examples/3. airFoil2D/constant
!examples/3. airFoil2D/solution
!examples/3. airFoil2D/info.txt

examples/4. damBreak/*
!examples/4. damBreak/0
!examples/4. damBreak/0
!examples/4. damBreak/system
!examples/4. damBreak/constant
!examples/4. damBreak/solution
!examples/4. damBreak/info.txt

examples/5. motorBike/*
!examples/5. motorBike/0
!examples/5. motorBike/0
!examples/5. motorBike/system
!examples/5. motorBike/constant
!examples/5. motorBike/solution
!examples/5. motorBike/info.txt

Proyecto/2d_laminar_ico/*
!Proyecto/2d_laminar_ico/0
!Proyecto/2d_laminar_ico/system
!Proyecto/2d_laminar_ico/constant
!Proyecto/2d_laminar_ico/solution

Proyecto/2d_laminar_simple/*
!Proyecto/2d_laminar_simple/0
!Proyecto/2d_laminar_simple/system
!Proyecto/2d_laminar_simple/constant
!Proyecto/2d_laminar_simple/solution

Proyecto/3d_k_epsilon/*
!Proyecto/3d_k_epsilon/0
!Proyecto/3d_k_epsilon/system
!Proyecto/3d_k_epsilon/constant
!Proyecto/3d_k_epsilon/solution

Proyecto/3d_les/*
!Proyecto/3d_les/0
!Proyecto/3d_les/system
!Proyecto/3d_les/constant
!Proyecto/3d_les/solution

Proyecto/2d_k_Omega/*
!Proyecto/2d_k_Omega/0
!Proyecto/2d_k_Omega/system
!Proyecto/2d_k_Omega/constant
!Proyecto/2d_k_Omega/solution

!fieldsValues.py
!modifyMeshEntries.py
!Allrun
!Allclean
!postCodes/
!plots.ipynb